{% extends "app.html" %}

{% block title %}
View Ratings for school {{ school.name }}
{% endblock %}

{% block content %}

<section class="section">
    <h1 class="title">View Ratings for school {{ school.name }}</h1>

    {% if school.ratings|length == 0 %}
    <h1>There are no ratings for this school!</h1>
    {% else %}
        <div class="grid is-col-min-10">
        {% for rating in school.ratings %}
            <div class="cell">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">{{ rating.rating }} / 5</p>
                    </header>

                    <div class="card-content">
                        <div class="content">
                            <blockquote>{{ rating.comment }}</blockquote>
                            <p>- {{ rating.user.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

{% endblock %}